@model IEnumerable<CloudShop.Client.Models.Product>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Our Store</h1>
        <p class="lead">Discover amazing products at unbeatable prices!</p>
        <hr class="my-4">
    </div>

    <h2 class="text-center mb-4">About Our Store</h2>
    <p class="text-center">We are committed to providing high-quality products and excellent customer service. With a wide selection of items to choose from, you're sure to find something you love.</p>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Gallery</h2>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card h-50">
                    <img src="https://cloudshop.blob.core.windows.net/product/Samsung-10-2.jpg?sv=2022-11-02&amp;ss=b&amp;srt=o&amp;sp=r&amp;se=2024-02-07T23:36:28Z&amp;st=2024-02-07T15:36:28Z&amp;spr=https&amp;sig=G9jpkMoxtjEmh%2F41bO%2BCjDfFG%2BuVc4GYoUJ%2F4KQB0vw%3D" class="card-img-top rounded" alt="Static Poster Left">
                    <div class="card-body">
                        <h5 class="card-title">Special Offer</h5>
                        <p class="card-text">Check out our exclusive deals!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://cloudshop.blob.core.windows.net/product/IPhone-X2.jpg?sv=2022-11-02&amp;ss=b&amp;srt=o&amp;sp=r&amp;se=2024-02-07T23:36:28Z&amp;st=2024-02-07T15:36:28Z&amp;spr=https&amp;sig=G9jpkMoxtjEmh%2F41bO%2BCjDfFG%2BuVc4GYoUJ%2F4KQB0vw%3D" class="d-block w-100 rounded" alt="Gallery Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="https://cloudshop.blob.core.windows.net/product/HTC-U1-Plus2.jpg?sv=2022-11-02&amp;ss=b&amp;srt=o&amp;sp=r&amp;se=2024-02-07T23:36:28Z&amp;st=2024-02-07T15:36:28Z&amp;spr=https&amp;sig=G9jpkMoxtjEmh%2F41bO%2BCjDfFG%2BuVc4GYoUJ%2F4KQB0vw%3D" class="d-block w-100 rounded" alt="Gallery Image 2">
                        </div>
                        <div class="carousel-item">
                            <img src="https://cloudshop.blob.core.windows.net/product/LG-G7-ThinQ-New8-2.jpg?sv=2022-11-02&amp;ss=b&amp;srt=o&amp;sp=r&amp;se=2024-02-07T23:36:28Z&amp;st=2024-02-07T15:36:28Z&amp;spr=https&amp;sig=G9jpkMoxtjEmh%2F41bO%2BCjDfFG%2BuVc4GYoUJ%2F4KQB0vw%3D" class="d-block w-100 rounded" alt="Gallery Image 3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-50">
                    <img src="https://cloudshop.blob.core.windows.net/product/Xiaomi-Mi-9-2.jpg?sv=2022-11-02&amp;ss=b&amp;srt=o&amp;sp=r&amp;se=2024-02-07T23:36:28Z&amp;st=2024-02-07T15:36:28Z&amp;spr=https&amp;sig=G9jpkMoxtjEmh%2F41bO%2BCjDfFG%2BuVc4GYoUJ%2F4KQB0vw%3D" class="card-img-top rounded" alt="Static Poster Right">
                    <div class="card-body">
                        <h5 class="card-title">New Arrivals</h5>
                        <p class="card-text">Explore our latest products!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-center mt-5 mb-4">Our Products</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="@item.ImageFile" alt="Product Image">
                    <div class="card-body">
                        <h4 class="card-title">@item.Name</h4>
                        <h6 class="card-subtitle mb-2 text-muted">@item.Category</h6>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">$@item.Price</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
